<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="../styles/globals.css">
</head>

<body>
<nav>
    <div id="navigation">
        <a href="index.html">Accueil</a>
        <a href="locations.html">Locations</a>
        <a href="#">EtJsp</a>
    </div>
</nav>
    <header>
        <video autoplay loop muted>
            <source src="../videos/headervideo.mp4" type="video/mp4">
        </video>
        <h1>Groupie Tracker</h1>
    </header>

    <div class="container">
    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        {{ range .Countries }}
            <button class="btn" onclick="filterSelection('{{ .Name }}')"> {{ .Name }} </button>
        {{ end }}
    </div>
        {{ range .Countries }}
        <div class="filterDiv {{ .Name }} " >

            {{ range .Cities }}
                <div class="card"> 

                 <h3>{{ .CityName }} </h3>
                {{ range .Artists }}
                    {{ .Name}}
                    <br>
                    {{ .Dates}}
                    <br><br>
                {{ end }}
                </div>

            {{ end }}
    </div>
    {{ end }}
</div>
<script src="../scripts/index.js"></script>
</body>