body {
    margin: 0;
    padding: 0;
    background-color: #1D1C1A;
}

.navigation {
    position: fixed;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background: radial-gradient(circle, rgba(131, 102, 244, 0.75) 0%, rgba(29, 28, 26, 0.75) 100%);
    overflow: hidden;
    z-index: 100;
}

.left-menu {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    margin: 0 20px;
}

.navigation li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

header {
    height: 50vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    filter: brightness(40%);
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

.container {
    padding-top: 2%;
    z-index: 1;
    display: flex;
    background-color: #1D1C1A;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #1A1B1D;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(131, 102, 244);
    transition: 0.3s;
    width: 500px;
    height: auto;
    margin: 20px;
    padding: 20px;
    display: inline-block;
}

/* ------------------------ Search Bar ------------------------ */
input {
    flex: 1;
    padding: 8px 12px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    outline: none;
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);
    color: #8366f4;
    letter-spacing: 1px;
    border-radius: 1px;
    transition: all 0.2s ease;
}

input:focus {
    border-color: #8366f4;
}

.filterButton {
    background: #8366f4;
    color: white;
    padding: 8px 12px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 1px;
}

.searchButton {
    background: #8366f4;
    color: white;
    padding: 8px 12px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 1px;
}