body {
    margin: 0;
    padding: 0;
}

.navigation {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background: linear-gradient(90deg, rgba(136, 136, 136, 0.4) 0%, rgba(38, 38, 38, 0.4) 20%, rgba(38, 38, 38, 0.4) 80%, rgba(0, 0, 0, 0.55) 100%);
    overflow: hidden;
}

.left-menu {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    margin: 0 20px;
}

.navigation li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

header {
    height: 80vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    filter: brightness(40%);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

div {
    z-index: 1;
    background-color: white;
    height: 100vh;
}